<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
        <script>
            function validatePassword() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
                if (password != confirmPassword) {
                    alert("Passwords do not match.");
                    return false;
                }
                return true;
            }

            async function resetPassword(e) {
                e.preventDefault();
                if(!validatePassword()) {
                    return;
                }
                const response = await fetch('http://localhost:8000/api/resetPasswordSet', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        password: document.getElementById("password").value,
                        token: window.location.search.split("=")[1]
                    })
                })

                const data = await response.json();
                console.log(data);
                if(data.status) {
                    alert("Password reset successfully");
                    window.location.href = "http://localhost:8000/";
                } else {
                    alert("Password reset failed");
                }
            }

        </script>
    </head>
    <body>
        <h1>Reset Password</h1>
        <form>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <br>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
            <br>
            <input onClick="resetPassword(event)" type="submit" value="Reset Password">
        </form>
    </body>
</html>